$darkGreystone: #737373;
$greystone: #A6A6A6;
$lightGreystone: #D9D9D9;
$lightGreystone2: #F0F0F0;
$grey: #5E5E5E;

$maroon: #800000;
$red: #C00000;
$red2: #CA4949;
$lightRed: rgba($red, .1);

$lake: #007396;
$lightLake: #3EB1C8;
$darkLake: #002A3A;
$blue: #0093C0;

$goldenrod: #EAAA00;
$lightGoldenrod: #F3D03E;

$sm-padding: 12px;
$md-padding: 16px;
$lg-padding: 32px;

$border-radius: 8px;

